# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Secrets
*.env
*.secret
local_settings.py

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
